@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Photoboom</h1>
        <br />
        <br />
        <p>Welcome to your favourite website</p>
        <br />
        <br />
        <a asp-controller="Photos" asp-action="Index">My Photos</a>
    </div>
